pre {
    border-radius: 3px;
    border: 1px solid #eeebee;
    padding: 0.6em !important;
}

code[class*="language-"] {
    padding: 0 !important;
    border: none;
}

@import "docs.scss";
@import "demo.scss";
