// Prism.js and code custom CSS

pre {
    border-radius: 3px;
    border: 1px solid #eeebee;
    padding: 0.6em !important;
}

code {
    padding: 0;
    border: 0;
}

@import "docs.scss";
@import "demo.scss";
