// Custom styles for the `demo` page

.demo-style {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
    background-color: #f5f6fa;
    border-radius: 3px;
    border: 1px solid #eeebee;
    font-size: 13px;
    padding: 1em;
    tab-size: 4;
}

.demo-editor {
    resize: none !important;
}

.codejar-linenumbers {
    mix-blend-mode: normal !important;
    color: #6a6d76ad !important;
    background-color: #ebedf5 !important;
    border: 1px solid #eeebee;
    border-right: 1px solid #eeebee;
    text-align: right;
    padding-right: 0.7em;
}

.demo-output {
    overflow-x: auto;
}

.demo-error {
    color: red;
}

.demo-error-label {
    float: right; 
    margin-top: 2em;
}
